<%- layout("./layouts/boilerplate") %>
  <div class=" i-container">
      <div class="i-item i-image">   
             <img src="<%= registerAdmin.shopImage %>" class="i-img" alt="...">
            <div style="gap: 1rem;"> 
              <h3 class="card-text"><%= registerAdmin.shopname %>  </h3>
            </div>
      </div>
        <div class=" i-item i-small">
          <h2>Shop Name : <%= registerAdmin.shopname %></h2>
          <h3 class="card-title"> Owned By : <span style="color: grey;"><%= registerAdmin.name %> </span></h5>
          <p class="card-title"> User Id : <%= registerAdmin.username %></p>
          <p class="card-text"> Contact No.<%= registerAdmin.contactno %></p>
        </div>
        <div class="i-item i-address text-secondary"> 
          <p class="card-text">Area/vill. : <%= registerAdmin.address %>,<%= registerAdmin.pincode %></p>
           <p> City : <%= registerAdmin.city %></p>
           <p>State : <%= registerAdmin.state %> , India</p>
        </div>
        <div class="i-item i-footer">
          <small class="text-body-secondary">Last update 3 minute ago</small>
        </div>
    </div>


