<%- include('layouts/head.ejs'); %>

    <body>
        <%- include('layouts/userNav.ejs'); %>
            <div class="update-address row ">
              <div class="">

                <h2 class="mt-4" style="margin-left: 60px;">Update Address:</h2>
                <div class="col-7 offset-2">
                <form action="/user/shippingAddress/update" method="post">
                  <div class="mb1">
                    <label class="form-label" for="city">City:</label>
                    <input name="router[city]" class="form-control" type="text" id="city" value="<%= user.city %>">
                  </div>
                  <div class="mb1">
                    <label class="form-label" for="famous_location">Famous Location: </label>
                    <input name="router[famouse_location]" class="form-control" type="text" id="famous_location" value="<%= user.famous_location %>">
                  </div>
                    
                <div class="mb1">
                    <label class="form-label" for="state">State: </label>
                    <input name="router[state]" class="form-control" type="text" id="state" value="<%= user.state %>">

                </div>
                <div class="mb1">

                    <label class="form-label" for="country">Country: </label>
                    <input name="router[country]" class="form-control" type="text" id="country" value="<%= user.country %>">

                </div>
                <div class="mb1">
                    <label class="form-label" for="number">Phone No. :</label>
                    <input name="router[number]" class="form-control" type="number" id="number" value="<%= user.number %>">

                </div>
                    
                 <div class="mb1">
   
                    <label class="form-label" for="pincode">Pincode:</label>
                    <input name="router[pincode]" class="form-control" type="number" id="pincode" value="<%= user.pincode %>">
                 </div>
                 <button class="btn btn-outline-dark col-1 ">update</button>
              </form>
            </div>
          </div>
            </div>
            <%- include('layouts/footer.ejs') %>
    </body>

</html>