<%- include('layouts/head.ejs'); %>

    <body>
        <div class="show-container">
            <%- include('layouts/userNav.ejs', {userId: userId}); %>

                <main>

                    <img src="<%= product.image %>" alt="">
                    <div class="detail">
                        <h3 class="sp">
                            <%= product.name %>
                        </h3>
                        <h3><%= product.owner.shopname %></h3>
                    
                        <h3 class="sp"> <%= product.owner.name %></h3>
                        <h5 class="sp">
                            Category: <span>
                                <%= product.category %>
                            </span>
                        </h5>
                            weight : <span><%= product.weight %></span>
                        <h5>

                        </h5>
                        <h5>
                            Available : <span><%= product.available %></span>

                        </h5>

                        <h5 class="sp">
                            Description: <span>
                                <%= product.description %>
                            </span>
                        </h5>
                        <h4 class="sp">
                            &#8377; <%= product.price %>
                        </h4>
                    </div>
                </main>
                <div class="fun">
                    <form method="post" action="/user/<%= userId %>/product/<%= product._id %>/admin/<%= product.owner._id %>/order"  style="background-color: rgba(14, 181, 14, 0.56);">
                        <button class="ttb"> Buy Now </button>
                    </form>
                    <a href="/user/addToCart/<%= product._id %>/<%= userId %>" class="addMe">Add to Cart</a>
                </div>
        </div>
        <%- include('layouts/footer.ejs') %>
    </body>

    </html>